<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>Travelling Abroad</h1>
        <a href="" class="btn btn-success btn-lg">ログイン</a>
      </div>
    </div>
  </div>
<% end %>

<div class="continents-button">
  <a href="" class="btn btn-danger">ヨーロッパ</a>
  <a href="" class="btn btn-success">アジア・アフリカ</a>
  <a href="" class="btn btn-primary">北米・南米</a>
</div>


<p>Google Map API を挿入</p>