<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <div>Travelling Abroad</div>
        <% unless logged_in? %>
          <%= link_to 'Sign Up', signup_path, class: 'btn btn-success btn-lg' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

<div class="continents-button">
  <a href="toppages/europe" class="btn btn-danger">ヨ ー ロ ッ パ</a>
  <a href="toppages/asia" class="btn btn-success">アジア・アフリカ</a>
  <a href="toppages/america" class="btn btn-primary">ア メ リ カ</a>
</div>

<p class="google-map">
  <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d58137346.58086236!2d31.598113073829115!3d27.205896572895163!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sja!2sjp!4v1494656554373" width="1100" height="800" frameborder="0" style="border:0" allowfullscreen></iframe>
</p>

<!--
<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>
-->
