@charset "utf-8";

/* footer */

footer{
  margin-bottom: 50px;
}

/* toppages */

.cover{
  height: 900px;
  width: 100%;
  background: url("/images/continents.jpg") center center no-repeat;
  
  /*border: 1px solid black;*/
  /*padding-bottom: 0px;*/
}

.cover .cover-inner .cover-contents{
  text-align: center;
  /*margin-bottom: 30px;*/
}

.continents-button a{
  padding: 30px 20px;
  margin: 0px 120px 30px 120px;
}

.google-map{
  padding: 200px;
  margin: 100px 50px;
  border: 1px solid black;
  text-align: center;
}


/* countries */

.countries{
  text-align: center;
  margin: 50px 0px;
}

.country{
  text-align: left;
  margin-bottom: 50px;
  padding:50px;
  border: 1px solid black;
}



/* contents */

.contents{
  width: 300px;
  display: inline-block;
  padding: 30px;
  margin: 40px 20px;
  border: 1px solid black;
  text-align: center;
}

.photo{
  height: 270px;
  width: 230px;
  object-fit: contain;
}
/*
.photo{
  height: 270px; 56.25% 
  width: 230px;
  border: 1px solid black;
  -moz-background-size:contain;
  background-size:contain;
}
*/
.photo:hover{
  transform: scale(2.0);
  transition: 1.3s;
  cursor: pointer;
}
/*
.photo:hover{
  transform: scale(3);
}
*/


.title{
  padding: 10px;
  text-align: center;
}

.btn btn-default{
  padding: 20px;
}

