@charset "utf-8";

/* ...
*= require_self
*= require_tree .
*/

.alert{
  font-family: none;
}

body{
  font-family: 'Anton', sans-serif;
  /*font-family: 'Open Sans', sans-serif;*/
  /*background-color: skyblue;*/
  padding-top: 70px;
}

.container{
  /*background-color: skyblue;*/
}

/* footer */

footer{

  margin-bottom: 50px;
}


/* nav bar */
.navbar-ranking{
  color: red;
}

.glyphicon{
  color: red;
}


/* btn */
.btn{
  font-family: "Nico Moji";
}

.continents-button{
  padding: 0px 0px;
}

.btn-info{
  padding: 30px 90px;
  margin: 0px 440px 50px 440px;
}

.btn-warning{
  padding: 30px 90px;
  margin: 0px 455px 70px 455px;
}

.btn-delete{
  font-family: none;
  padding: 0.5px 3px;
}  
  

/* toppages */

.cover{
  height: 900px;
  width: 100%;
  background: url("/images/continents.jpg") center center no-repeat;
  margin-top: 30px;
  /*background-color: pink;*/
  padding-bottom: 0px;
  
  /*border: 1px solid black;*/
  /*padding-bottom: 0px;*/
}

.cover .cover-inner .cover-contents{
  text-align: center;
  /*margin-bottom: 30px;*/
  font-size: 60px;
}


.continents-button a{
  padding: 30px 40px;
  margin: 0px 100px 30px 100px;
}



.google-map{
  padding: 0px;
  margin: 80px 0px;
  /*border: 1px solid black;*/
  text-align: center;
}


/* countries */

.countries{
  text-align: center;
  margin: 50px 0px 50px 0px;
  font-size: 50px;
}

.country{
  text-align: left;
  margin-bottom: 50px;
  padding: 20px 50px 0px 50px;
  /*padding:50px;*/
  /*border: 1px solid black;*/
  /*font-family: 'Anton', sans-serif;*/
}

.country h2{
  font-size: 40px;
}


/* contents */

.contents{
  width: 300px;
  display: inline-block;
  padding: 30px;
  margin: 40px 20px;
  border: 1px solid black;
  /*border: 1px solid black;*/
  border-radius: 20px;
  border-width: 1px;
  text-align: center;
}

.contents p{
  font-size: 20px;
}

.photo{
  height: 270px;
  width: 230px;
  object-fit: contain;
  margin-bottom: 20px;
}
/*
.photo{
  height: 270px; 56.25% 
  width: 230px;
  border: 1px solid black;
  -moz-background-size:contain;
  background-size:contain;
}
*/
.photo:hover{
  transform: scale(1.1);
  transition: 0.5s;
  cursor: pointer;
}
/*
.photo:hover{
  transform: scale(3);
}
*/

/*
.title{
  padding: 10px;
  text-align: center;
}
*/

.btn btn-default{
  padding: 20px;
}


/* user/show */
/* user-profile */
.user-profile{
  margin-top: 50px;
}

.name{
  margin: 30px 0px;
}

.status{
  margin: 20px 475px 20px 475px;
  color: blue;
  /*border: 1px solid blacK;*/
  border-radius: 10px;
  padding: 0px 20px;
  width: 200px;
}

/* likes_photo */
.row{
  margin-bottom: 30px;
}

.likes-photo{
  margin: 50px 25px;
}

.likes-photo p{
  margin: 0px 80px 10px 80px;
  font-size: 20px;
}

.likes-photo div{
  margin: 0px 75px 10px 75px;
  font-size: 20px;
}



/* micropost index */
.media{
  margin: 50px 50px;
  padding-top: 10px;
}

.media-body{
  font-size: 20px;
}


/* micropost new */
.form-group{
  margin: 50px 300px;
  width: 500px;
}

.post-submit{
  padding: 15px 30px;
  margin-bottom: 200px;
}

